* {
    font-weight: bold;
    font-size: 15px;
    color: chartreuse;
}

.content {
    background-color: darkgray;
}

.menu {
    position: absolute;
    top: 0;
    left: -260px;
    width: 300px;
    height: 100vh;
    background-color: cadetblue;
    box-shadow: 5px 10px #888888;
    transition: 0.5s;
}

.label {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin-left: 275px;
}

.items {
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    overflow: hidden;
}

.menu:hover {
    left: -50px;
}