* {
    background-color: black;
    color: beige;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana;
}

blockquote {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: groove red thick;
}

div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: groove blue thick;
}

a {
    color: aqua;
}