.img_left {
    float: left;
    margin: 0 20px 20px 0;
}

.img_right {
    float: right;
    margin: 20px 0 20px 20px;
    vertical-align: middle;
}

.text_container {
    width: 500px;
}

p {
    text-align: justify;
    margin: auto;
}