.item {
    width: 28%;
    height: auto;
    border: dimgray solid thin;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: white;
}

.item h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.item article {
    text-align: justify;
    font-size: 15px;
    font-style: normal;
    margin: 0 0 10px 0;
}

.itemButton {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: darkorchid;
    text-align: center;
    margin: auto;
}

.itemButtonLink {
    color: aliceblue;
    font-size: 10px;
    font-style: normal;
    font-family: Verdana;
}

.item:hover {
    box-shadow: 5px 5px #aaaaaa;
}

.itemsHolder {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: aliceblue;
}

/*  Custom tags */

h1 {
    text-transform: uppercase;
}

.customQuote {
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

.tileLinks {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.sidebarContent {
    font-size: 18px;
    padding: 20px;
}

.pic {
    width: 50%;
}