.canvas {
    background-color: dimgray;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/

    width: 100%;
    /*height: 100vh;*/
    background-color: cadetblue;
}

.cell {
    flex: 0 0 33%;
    height: 100px;
}

/*  Flex components */

.flexCell {
    display: flex;
}

.flexHeaderPanel {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-color: orange;
}

.flexMainPanel {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row;
    justify-content: space-between;
    background-color: beige;
}

.flexFooterPanel {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    background-color: lightgreen;
}

/*  Flex tiles */

.flexLogoTile {
    display: flex;
    flex: 0 0 100px;
    height: auto;
}

.flexLinksTile {
    display: flex;
    justify-content: right;
    line-height: 125px;
}

.flexLinksTile > * {
    margin: 0 20px 0 0;
}

.flexLeftSideBarTile {
    display: flex;
    flex: 0 0 210px;
    background-color: plum;
}

.flexRightSideBarTile {
    display: flex;
    flex: 0 0 210px;
    background-color: lightsteelblue;
}

.flexContentTile {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 100px;
}

.flexFooterTile {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
}

.flexMainPanel div:nth-child(1) {
    order: 2;
}

.flexMainPanel div:nth-child(2) {
    order: 1;
}

.flexMainPanel div:nth-child(3) {
    order: 3;
}